<div class="mw-100 mh-100 full-height">
  <div class="container-fluid mainContent">
    <div class="row justify-content-center d-flex">
      <h3>Welcome</h3>
    </div>
    <div class="row justify-content-center d-flex">
      <!-- Calling GoogleAuth Api from AuthService -->
      <img type="button" class="btn-white" src="/assets/sign-in/2x/btn_google_signin_light_normal_web@2x.png"
           (click)="authService.GoogleAuth()" alt="logo">

      <!-- <div class="formGroup">
         <button type="button" class="btn googleBtn" (click)="authService.GoogleAuth()">
           <i class="fab fa-google-plus-g"></i>
           Log in with Google
         </button>
       </div>-->
    </div>
  </div>
</div>


